* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #bfb8b9;
}

#navbar {
    background-color: grey;

}

#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2rem 1rem;
    list-style: none;
}

#navbar ul li a {
    color: white;
    margin: 1rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem;
}

main .showcase-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 20px;
}

main .showcase-content form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .showcase-content form .search {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: 100%;
}

main .showcase-content form .search.text {
    justify-content: flex-end;
}

main .showcase-content form .search input {
    height: 45px;
    font-size: 2.6rem;
    border-radius: 26px;
    text-indent: 2%;
    margin-left: 2rem;
}

main .showcase-content form .btn input {
    margin: 5px;
    padding: 20px;
    color: #444444;
    font-size: 12px;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid;
    outline: none;
}

main .showcase-content form .btn input:hover {
    background-color: gray;
}

main .showcase-content form .search button {
    display: flex;
    height: 32px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 25px;

}

main .showcase-content form input:hover {
    border-color: lightslategrey;
}

main .showcase-content .logo {
    display: flex;
}
